:root{
	--gr: #44bd7c;
	--bl: #4dc7f8;
}

.kafaahpic img {
	width: 75%;
}

.kafaahpic {
	animation: comein 0.7s linear;
	padding: 7% 9%;
	margin-top: 80px;
}


.pictext {
	display: grid;
	grid-template-columns: 60% 40%;
	/* align-items: center; */
	height: 100vh;
}
.text {
	/* width: 500px; */
	/* padding: 100px 100px; */
	color: var(--wt);
	/* margin-top: 40px; */
	animation: asona 0.7s linear;
	margin-top: 40px;
	padding-top: 150px;
}
.text h2 {
	font-size: 50px;
	margin-bottom: 30px;
}
.text p {
	font-size: 30px;
}


/* Project head */
.proHead {
	width: 100%;
	/* padding: 40px auto; */
	background: linear-gradient(120deg, #1eac02, #0084ff);
	/* animation: grand2 5s linear infinite; */
	/* background-size: 400% 400%; */
	text-align: center;
	color: var(--wt);
	font-size: 25px;
	box-shadow: 0 0 15px #fff;
}
.proHead h2{
	padding: 20px;
	
}



p{
  z-index: 2;
}
.btn:hover{
  cursor: pointer;
  transform: scale(110%);
}
h2{
	z-index: 3;
	margin-bottom: 20px;
}

/* Buttons	 */
.projectline{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 100px;
	justify-content: space-between;
	width: 100%;
}
.visit{
	margin:  auto;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.btn{
  margin: 10px;
  animation: inout 4s ease infinite;
}
@keyframes inout{
	0%{
		box-shadow: 0 0 15px #fff;
	}
	
	50%{
		box-shadow: 0 0 40px #fff;
	}
	
	100%{
		box-shadow: 0 0 15px #fff;
	}
}
/* Doyosoft */
.pictexts{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding-left: 50px;
}
.doyosoftpic img{
  width: 75%;
}
.texts{
  font-size: 30px;
  color: var(--wt);

}
/* visit doyosoft */
.visd{
  font-size: 20px;
  padding: 14px 23px;
  border: 0;
  
  background: var(--bl);
  border-radius: 20px;
  transition: .4s;
  color: #fff;
}

.visd:hover{
  background: var(--gr);
}
/* jogdan */
.jogdan{
  font-size: 30px;
  color: #fff;
  padding: 30px 50px;
}
.jogdan h2{
  margin:  20px;
}
.join{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

