.h1 {
	color: var(--wt);
	font-size: 30px;
	margin-top: 70px;
	padding: 20px 30px;

}
body {
	background: #262626;
}
.pContainer {
	width: 100%;
	font-family: sans-serif;
	display: grid;
	/* justify-content: center; */
	margin: 20px auto;
	padding: 80px;
}
.pContainer h3 {
	margin-left: 10px;
	color: var(--wt);
}
.pContainer .progress {
	background: #00a7c8;
	text-align: right;

	border-radius: 30px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	font-family: monospace;
}
.percent {
	background: #0084ff;
	padding: 3px 5px;
	border-radius: 30px;
	/* z-index: 1; */
	width: 0%;
	box-shadow: 10px 0 15px var(--wt);
}
.percent #numPercent {
	margin-right: 10px;
}
h4 {
	color: var(--wt);
}
.footer{
	background: #272727;
}
p{
	color: var(--wt);
	padding:3%;
	font-size: 18px;
}
h2{
	color: var(--wt);
	padding: 3%;
	font-size: 30px;
}